
/* Q1 */
/* .alert.success {
  color: yellow;
}
.alert .success {
  color: yellow;
}
.alert, .success {
  color: yellow
}
.alert--.success {
  color: yellow
} */




















/* Q2 */
/* .first.second { color: green}; */
/* div > p { color: green; } */
/* div .second, #first { color: green; } */
/* p:last-child { color: green; }  */




























/* Q3 */
p { color: grey; }
#red { color: red; }
.blue { color: blue; }
#red .blue { color: magenta; }
#red .blue { color: red}
.green p { 
  color: lightgreen;
  font-size: 2em; 
}
div.green p.blue { color: cyan; }
