header {
  font-family: 'Helvetica';
  color: white;
  background-color: rebeccapurple;
  padding: .5em;
  margin-bottom: 1em;
}

h2, h3, h4, .purple {
  color: rebeccapurple;
}

p.success.alert { }

header p {
  font-family: 'Papyrus';
} 

.about-section img {
  border-radius: 50%;
}

img:hover {
  max-height: 300px;
}

li a:hover {
  /* font-size: 2em; */
  text-decoration: none;
}

/* h3 {
  color: rebeccapurple;
}

h4 {
  color: rebeccapurple;
} */

p {
  font-size: 18px;
}

img {
  max-height: 150px;
  border-radius: 20px;
  background-color: white;
}

/* elements with class="about-section" */
.about-section {
  background-color: #eee;
  padding: .25em .5em;
}