h1 {
  font-family: 'Helvetica';
  color: white;
  background-color: rebeccapurple;
}

p {
  font-family: 'Helvetica';
  font-size: 1.25em;
}

button {
  color: white;
  background-color: blue;
}

img {
  max-width: 300px;
  border-radius: 50%;
}