header {
  color: white;
  background-color: rebeccapurple;
  padding: .5em;
}

/* topics cards */
.card-deck {
  display: flex;
  flex-wrap: wrap;
}

.topics-section .card {
  border: 1px solid black;
}

.card {
  flex-grow: 1;
  
  display: flex;
  height: 300px;

}

.card {
  flex-direction: column;

}

.card img {
  flex-grow: 1;
}
